<h1>Add a new fighter</h1>

<%= form_with url: fighters_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, name: "fighter[name]" %>
  </div>

  <div>
    <%= form.label :ufc_id %>
    <%= form.number_field :ufc_id, name: "fighter[ufc_id]" %>
  </div>

  <div>
    <%= form.submit "Add Fighter" %>
  </div>
<% end %>